<div class="w-full">
<div class="flex justify-between items-center mb-3">
    <h1 class="font-bold text-4xl">Edit Product</h1>
</div>
<div id="products" class="flex justify-between items-center mb-3">
<%= form_with model: @product do |form|%>
    <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block border border-grey-light w-full p-3 rounded mb-4"  %>
    </div>
    <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "block border border-grey-light w-full p-3 rounded mb-4" %>
    </div>
    <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price_cents, class: "block border border-grey-light w-full p-3 rounded mb-4"  %>
    </div>
    <%= form.submit "Add", class: "w-full text-center text-white bg-blue-700 py-3 rounded text-white hover:bg-green-dark focus:outline-none" %>
<% end %>
</div>
</div>